<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Account</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
      </head>
<body>
    <div class="container-fluid vh-100" style="margin-top:100px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h1><%- locals.name %></h1>
                        <% if (locals.anotherAccount) { // show if they are viewing someone else's account %>
                            <h3>Vewing someone else's account</h3>
                        <% } %>
                    </div>
                    <% if (accountType != 3) { // Anyone but admin can see account balances%>
                    <div style="border-color: gray; border: solid; border-radius: 10px; background-color: #f2f2f2; margin: 10px; padding: 10 px;">
                        <h3>Savings</h3>
                        <p>Total: $<%- locals.savings %></p>
                    </div>
                    <div style="border-color: gray; border: solid; border-radius: 10px; background-color: #f2f2f2; margin: 10px; padding: 10 px;">
                        <h3>Checking</h3>
                        <p>Total: $<%- locals.checking %></p>
                    </div>
                    <% } %>
                    <div class="text-center">
                        <% if (accountType == 3) { // Only admins can regrade an account %>
                        <a href="/regrade"><button class="btn btn-primary mt-2">
                            Regrade Account
                        </button></a>
                        <% } %>
                        <% if ( locals.accountType == 3 ) { // Admin can reset password for anyone, others cannot reset their own password %>
                        <a href="/changepassword"><button class="btn btn-primary mt-2">
                            Change Password
                        </button></a>
                        <% } %>
                        <% if ( (locals.accountType == 2 || !locals.anotherAccount) && locals.accountType != 3) { 
                            // Employees can make transfers, anyone can make their own, admin can't make any %>
                        <a href="/transfer"><button class="btn btn-primary mt-2">
                            Make a Transfer
                        </button></a>
                        <a href="/accounthistory"><button class="btn btn-primary mt-2">
                            Account History
                        </button></a>
                        <% } %>
                        <% if (locals.accountType == 2 || locals.accountType == 3) {  // Employee and admin can search for accounts %>
                        <a href="/search">
                            <button class="btn btn-primary mt-2" >Search Accounts

                            </button></a>
                        <% } %>
                        <% if (!locals.anotherAccount) { // Logout from account search or your own account page to avoid confusion %>
                        <a href="/logout"><button class="btn btn-primary mt-2">
                            Log Out
                        </button></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>