<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
        <script type="text/javascript" src="crypto-js.js"></script>

        <script>
            function checkPassword(event) {
                // Get the two passwords entered
                const password1 = document.getElementById("pass1").value;
                const password2 = document.getElementById("pass2").value;
                let passwordValid = false;
                let message = "";
                if(password1 == "") {
                    message = "Please enter a password";
                } else if (password2 == ""){
                    message = "Please re-enter the password";
                } else if (password1 != password2) {
                    message = "Passwords do not match";
                } else {
                    passwordValid = true;
                }

                if (!passwordValid) {
                    document.getElementById("message").innerHTML = message;
                    event.preventDefault();
                } else {
                    let salt = CryptoJS.lib.WordArray.random(8);
                    document.getElementById("salt").value = salt;
                    let hashed = CryptoJS.SHA256(password1 + ":" + salt).toString(CryptoJS.enc.Hex);
                    document.getElementById("hash").value = hashed;
                }
            }
        </script>
      </head>
<body>
    <div class="container-fluid vh-100" style="margin-top:100px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h1>Change Password</h1>
                        <h3><%- locals.name %></h3>
                    </div>
                    <p>Enter the new password below.</p>  
                    <form id="changePasswordForm" onsubmit="return checkPassword(event);" method="post">
                        <div class="P-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary">
                                  <i class="bi bi-person-plus-fill text-white"></i>
                                </span>
                                <input id="pass1" name="pass1" type="password" class="form-control" autofocus="autofocus" placeholder="Password">
                              </div>
                              <div class="input-group mb-3">
                                <span class="input-group-text bg-primary">
                                  <i class="bi bi-person-plus-fill text-white"></i>
                                </span>
                                <input id="pass2" name="pass2" type="password" class="form-control" autofocus="autofocus" placeholder="Re-enter Password">
                                
                                <input type="hidden" id="salt" name="salt" value="">
                                <input type="hidden" id="hash" name="hash" value="">
                              </div>
                                
                              <p id="message" class="text-danger">
                                <%- locals.message %>
                              </p>
                                <button class="btn btn-primary mt-2" type="submit">
                                    Change Password
                                </button>
                                <a href="/account"><button class="btn btn-primary mt-2" type="button">Back</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>